In [5]:
import pandas as pd
from xgboost import XGBClassifier 
from sklearn.metrics import f1_score

In [6]:
new_train = pd.read_csv('new_train.csv')
new_test = pd.read_csv('new_test.csv')

In [7]:
data = pd.read_csv('data_statistic.csv')

In [8]:
svd = pd.read_csv('svdTFit.csv')

In [9]:
tr =  pd.read_csv('../../data/train_groups.csv')

In [10]:
y_train = tr.target

In [11]:
title = pd.read_csv('information.csv')

In [12]:
new_test.drop('Unnamed: 0', 1, inplace = True)
new_train.drop('Unnamed: 0', 1, inplace = True)

In [13]:
data[:1]

,pair_id,group_id,doc_id,is_train,title,information,numbers,vowels,consonants
0,1,1,15731,True,ВАЗ 21213 | Замена подшипников ступицы | Нива,ваз замена подшипник ступица нива,5,12,14

In [44]:
data_[:1]

,pair_id,group_id,doc_id,is_train,mean_true_hash,train_group,cos_mean,numbers,vowels,consonants
0,1,1,15731,True,0.97597,0.0,0.506909,5,12,14

In [47]:
svd[:1]

,0,1,2,3,4,5,6,7,8,9,...,792,793,794,795,796,797,798,799,doc_id,pair_id
0,-0.000001,0.000064,0.000001,0.000002,0.000004,-4.801371e-07,0.000002,0.000472,0.0005,0.002367,...,0.000388,-5.068339e-07,0.0002,0.000547,-0.000096,-0.000009,0.000674,0.000796,15731,1

In [14]:
data_ = pd.concat(( new_train.drop('target', 1), new_test))

In [46]:
svd['pair_id'] = data.pair_id

In [40]:
data_.shape

(28317, 10)

In [48]:
data_svd = data_.merge(svd, how = 'left', on = 'pair_id')

In [49]:
data_svd.shape

(28317, 811)

In [16]:
data_['numbers'] = data['numbers']
data_['vowels'] = data['vowels']
data_['consonants'] = data['consonants']

In [53]:
train = data_svd[data_svd.is_train]
test = data_svd[~data_svd.is_train]

In [ ]:
d

In [ ]:
y_trin =

## Build Model

In [60]:
xgb = XGBClassifier(n_estimators=1000,  random_state = 0, nthread = 4, learning_rate = 0.01,
                        max_depth=7)

In [38]:
tr.shape

(11690, 4)

In [39]:
train.shape

(11931, 810)

In [52]:
print(X_val.shape)
y_val.shape

(3992, 810)

(3751,)

In [54]:
groups = train.group_id.unique()
X = train[train['group_id'].isin(groups[:int(len(groups)*4/6)])]
X_val = train[train['group_id'].isin(groups[int(len(groups)*4/6):])]
y = y_train[train['group_id'].isin(groups[:int(len(groups)*4/6)])]
y_val = y_train[train['group_id'].isin(groups[int(len(groups)*4/6):])]

In [61]:
xgb.fit(X, y)
f1_score(y_val, xgb.predict(X_val))

0.44630616907844634

In [33]:
xgb.fit(train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.01, max_delta_step=0,
       max_depth=2, min_child_weight=1, missing=None, n_estimators=300,
       n_jobs=1, nthread=4, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [34]:
xgb_pred = xgb.predict(test)

In [35]:
from collections import Counter
Counter(xgb_pred)

Counter({0: 12892, 1: 3735})

In [37]:
import numpy as np

In [38]:
nums = list(np.arange(11691, 28318))
df = pd.DataFrame({'pair_id': nums, 'target': xgb_pred})
df.to_csv('bukhteev_xgb.csv', index=False)